@model HotelManagerMVC.ViewModels.ClientDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.IsAdult)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAdult)
        </dd>

        
        <dd>
            @if (Model.ClientReservations != null && Model.ClientReservations.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Number of reservation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reservation in Model.ClientReservations)
                        {
                            if (reservation.Reservation != null)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => reservation.Reservation.Id)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

            else
            {
                <p>Client has no reservations.</p>
            }

        </dd>
    </dl>
</div>
<br />
<p>
    <td class="action-links">

        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-success" })
        @Html.Raw("|")

        @Html.ActionLink("Back to List", "List", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
    </td>
</p>