@model IEnumerable<HotelManagerMVC.ViewModels.ClientDetailsVM>
@{
    ViewBag.Title = "Index";
}
<h2>Client</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IsAdult)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.IsAdult)
            </td>

            <td class="action-links">

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-secondary" })
                @Html.Raw("|")
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })

                @Html.Raw("|")
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })

            </td>
        </tr>
    }
</table>
<td class="action-links">

    <div class="text-left mb-3">
        <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
        @Html.Raw("|")
        <a href="@Url.Action("ClientReservation")" class="btn btn-primary">Client Reservation</a>
    </div>

</td>