@model IEnumerable<HotelManagerMVC.ViewModels.ReservationDetailsVM>
@{
    ViewBag.Title = "Index";
}
<h2>Reservation</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.HasBreakfast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAllInclusive)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.HasBreakfast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAllInclusive)
            </td>

            <td class="action-links">

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-secondary" })
                @Html.Raw("|")
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                @Html.Raw("|")
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })

            </td>
        </tr>
    }
</table>

<td class="action-links">

    <div class="text-left mb-3">
        <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
    </div>

</td>