@model IEnumerable<HotelManagerMVC.ViewModels.UserDetailsVM>

<link rel="stylesheet" href="~/css/style.css">


@{
    ViewBag.Title = "Index";
}
<h2>Users</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TerminationDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>

            <td class="action-links">

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-secondary" })
                @Html.Raw("|")

                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })


                @Html.Raw("|")
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })


            </td>
        </tr>
    }
</table>

<td class="action-links">
    @if (User.IsInRole("Admin"))
    {
        <div class="text-left mb-3">
            <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
        </div>
    }
</td>
